HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore .DS_Store files
.DS_Store

### VS Code ###
.vscode/

/src/main/resources/application-dev.yml
/src/main/resources/linen-radio-438510-m9-5b0964e71e0a.json
/linen-radio-438510-m9-5b0964e71e0a.json
/src/main/resources/fromnow-34d51-firebase-adminsdk-fiy84-7b40c25669.json